{% load static %}

<!-- Footer Start -->
<footer id="footer" style="background:#19171a;padding:32px 0 0">
  <div class="cs-footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="widget widget-our-partners">
            <div class="widget-section-title">
              <h6 style="color:#fff !important">By Year</h6>
            </div>
            <ul>
              <li><a href="/filter_results?brand=&bodytype=&year_gt=&year_lt=2011&price_gt=&price_lt=&transmission="><=2010</a></li>
              <li><a href="/filter_results?brand=2011&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">2011</a></li>
              <li><a href="/filter_results?brand=2012&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">2012</a></li>
              <li><a href="/filter_results?brand=2013&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">2013</a></li>
              <li><a href="/filter_results?brand=2014&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">2014</a></li>
              <li><a href="/filter_results?brand=2015&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">2015</a></li>
              <li><a href="/filter_results?brand=2016&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">2016</a></li>
              <li><a href="/filter_results?brand=2017&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">2017</a></li>
              <li><a href="/filter_results?brand=2018&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission">2018</a></li>
              <li><a href="/filter_results?brand=2019&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission">2019</a></li>
              <li><a href="/filter_results?brand=&bodytype=&year_gt=2020&year_lt=&price_gt=price_lt=&transmission">>=2020</a></li>

            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="widget widget-categores">
            <div class="widget-section-title">
              <h6 style="color:#fff !important">By Makes</h6>
            </div>
            <ul>
              <li><a href="/filter_results?brand=ford&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Ford</a></li>
              <li><a href="/filter_results?brand=nissan&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Nissan</a></li>
              <li><a href="/filter_results?brand=chevrolet&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Chevrolet</a></li>
              <li><a href="/filter_results?brand=audi&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Audi</a></li>
              <li><a href="/filter_results?brand=hyundai&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Hyundai</a></li>
              <li><a href="/filter_results?brand=dodge&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Dodge</a></li>
              <li><a href="/filter_results?brand=mazda&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Mazda</a></li>
              <li><a href="/filter_results?brand=honda&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Honda</a></li>
              <li><a href="/filter_results?brand=Mercedes-Benz&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Mercedes-Benz</a></li>
              <li><a href="/filter_results?brand=GMC&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">GMC</a></li>
              <li><a href="/filter_results?brand=Pontiac&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Pontiac</a></li>
              <li><a href="/filter_results?brand=Kia&bodytype=&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Kia</a></li>

            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="widget widget-categores">
            <div class="widget-section-title">
              <h6 style="color:#fff !important">By Body Types</h6>
            </div>
            <ul>
              <li><a href="/filter_results?brand=&bodytype=sedan&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Sedan</a></li>
              <li><a href="/filter_results?brand=&bodytype=truck&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Truck</a></li>
              <li><a href="/filter_results?brand=&bodytype=SUV&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">SUV, Crossover</a></li>
              <li><a href="/filter_results?brand=&bodytype=van&year_gt=&year_lt=&price_gt=&price_lt=&transmission=">Minivan, Van</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="widget widget-about-us">
            <div class="widget-section-title">
              <h6 style="color:#fff !important">By Price</h6>
            </div>
            <ul>
              <li><a href="/filter_results?brand=&bodytype=&year_gt=&year_lt=&price_gt=&&price_lt=4999transmission=">< $4999</a></li>
              <li><a href="/filter_results?brand=&bodytype=&year_gt=&year_lt=&price_gt=5000&price_lt=5999&transmission=">$5000-$5999</a></li>
              <li><a href="/filter_results?brand=&bodytype=&year_gt=&year_lt=&price_gt=6000&price_lt=6999&transmission=">$6000-$6999</a></li>
              <li><a href="/filter_results?brand=&bodytype=&year_gt=&year_lt=&price_gt=7000&price_lt=7999&transmission=">$7000-$7999</a></li>
              <li><a href="/filter_results?brand=&bodytype=&year_gt=&year_lt=&price_gt=8000&price_lt=8999&transmission=">$8000-$8999</a></li>
              <li><a href="/filter_results?brand=&bodytype=&year_gt=&year_lt=&price_gt=9000&price_lt=9999&transmission=">$9000-$9999</a></li>
              <li><a href="/filter_results?brand=&bodytype=&year_gt=&year_lt=&price_gt=10000&price_lt=&transmission=">> $10000</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="cs-copyright" style="background:#141215; padding-top:37px; padding-bottom:37px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="cs-back-to-top">
            <address>
            <i class="icon-phone"></i> <a href="tel:+1-519-268-8188">(519) 268-8118</a>
            </address>
            <a class="btn-to-top cs-bgcolor" href="#"><i class="icon-keyboard_arrow_up"></i></a> </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->
